.FolderComponent, .OpenNoteComponent {
  margin: 0 0 0 30px;
  padding: 0;

}

.FolderComponent h2, .OpenNoteComponent h3 {
  margin: 3px;
  border-radius: 10px;
  background-color: #e6e6e6;
  padding: 5px;
  border : 1px solid black;
}

.FolderComponent h2:hover, .OpenNoteComponent h3:hover {
  background-color: #c5c5c5;
  cursor: pointer;
}