

/* Remove left margin from FolderComponent inside ExplorerDiv */
div.ExplorerDiv > .FolderComponent {
  margin-left: 0;
}


h1 {
    font-size: 5rem;
    color: orangered;
    font-family: "creakingCrypt", sans-serif;
    text-shadow: 2px 2px 2px black;
    z-index: 1;
}
h2 {
    font-size: 2rem;
    color: orangered;
    font-family: "spookyTheme", sans-serif;
    text-shadow: 2px 2px 2px black;
    z-index: 1;
}
h3 {
    font-size: 2rem;
    color: orangered;
    font-family: "spookyTheme", sans-serif;
    text-shadow: 2px 2px 2px black;
    z-index: 1;
}
h4 {
    font-size: 1.5rem;
    color: #B23781;
    font-family: "spookyTheme", sans-serif;
    text-shadow: 2px 2px 2px black;
    z-index: 1;
}


div.OpenedNote {
  width: calc(100% - 400px); 
  margin-right: 15px;
}

.note-image {
  width: 100%;
  height: auto;
  object-fit: cover; 
}


div.MainDiv {
  display: flex;
  gap: 20px;
  margin-top: 20vh; 
  height: 80vh;
  background-color: rgb(7, 72, 132);
  background-image: url('./assets/background_night.png');
}

div.BinDiv {
  display: flex;
  gap: 20px;
  margin-top: 20vh;
  height: 80vh; 
  max-height: 80vh;
  background-color: rgb(7, 72, 132);
  background-image: url('./assets/background_bin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ExplorerDiv : sidebar */
div.ExplorerDiv {
  width: 400px;
  border-right: 5px solid orangered;
  /* background-color: #d6a360; */
  display: flex;
  flex-direction: column; 
  height: calc(100vh - 20vh); 
  background-image: url('./assets/background_ghost.png');
  background-repeat: repeat-y;
  background-size: auto;

}

/* Title  */
.explorateurTitle {
  flex-shrink: 0; 
  font-size: 2rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

/*  Scrollable area*/
.explorerContent {
  flex-grow: 1;
  overflow-y: auto; 
  padding-top: 30px;
  padding-right: 30px;
}

.binExplorer {
  width: 100%;
  display: flex;
  flex-direction: column; 
  height: calc(100vh - 20vh); 
}
.binContent {
  flex-grow: 1; 
  overflow-y: auto; 
  padding-top: 30px;
  padding-right: 30px;
  width: 100vw;
}


.explorerContent::-webkit-scrollbar {
  display: none;
}






.binComponent h4 {
  display: flex; /* Permet de mettre tout sur une ligne */
  align-items: center; /* Aligne verticalement */
  gap: 10px; /* Espacement entre les éléments */
  white-space: nowrap; /* Empêche les retours à la ligne */
  overflow: hidden; /* Évite le débordement */

}

.metaDataBin {
  padding-left: 20px;
  display: inline-flex;
  flex-direction: row; /* On garde l'ordre normal */
  margin-left: auto; /* Pousse les métadonnées à droite si tu veux */
  width: auto !important; /* Ne prend que la place nécessaire */
  flex-shrink: 0;

}

.metaDataBin p {
  font-family: Arial, sans-serif;
  color: white;
  font-size: medium;
  padding: 0 5px;
  white-space: nowrap; /* Évite le retour à la ligne */
}

